USE [QuanLyNhaHang]
GO
/****** Object:  Table [dbo].[Tables]    Script Date: 4/16/2026 7:13:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tables](
	[table_id] [int] IDENTITY(1,1) NOT NULL,
	[table_name] [nvarchar](50) NOT NULL,
	[status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[table_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 4/16/2026 7:13:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[staff_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[role] [nvarchar](50) NULL,
	[phone] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 4/16/2026 7:13:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[phone] [varchar](20) NULL,
	[email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 4/16/2026 7:13:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[table_id] [int] NULL,
	[staff_id] [int] NULL,
	[customer_id] [int] NULL,
	[order_date] [datetime] NULL,
	[is_paid] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_TatCaDonHang]    Script Date: 4/16/2026 7:13:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_TatCaDonHang] AS
SELECT 
    O.order_id AS [Mã Đơn], T.table_name AS [Tên Bàn], S.name AS [Nhân Viên Phục Vụ],
    ISNULL(C.name, N'Khách lẻ') AS [Khách Hàng], O.order_date AS [Thời Gian],
    CASE WHEN O.is_paid = 1 THEN N'Đã thanh toán' ELSE N'Đang phục vụ' END AS [Trạng Thái]
FROM Orders O
JOIN Tables T ON O.table_id = T.table_id
JOIN Staff S ON O.staff_id = S.staff_id
LEFT JOIN Customers C ON O.customer_id = C.customer_id;
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 4/16/2026 7:13:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[bill_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[total_amount] [decimal](18, 2) NULL,
	[payment_method] [nvarchar](50) NULL,
	[payment_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[bill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuItems]    Script Date: 4/16/2026 7:13:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItems](
	[menu_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
	[category] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[menu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 4/16/2026 7:13:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[menu_id] [int] NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffShifts]    Script Date: 4/16/2026 7:13:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffShifts](
	[shift_id] [int] IDENTITY(1,1) NOT NULL,
	[staff_id] [int] NOT NULL,
	[start_time] [datetime] NULL,
	[end_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[shift_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bills] ADD  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[Bills] ADD  DEFAULT (getdate()) FOR [payment_date]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [is_paid]
GO
ALTER TABLE [dbo].[Tables] ADD  DEFAULT ('Available') FOR [status]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([menu_id])
REFERENCES [dbo].[MenuItems] ([menu_id])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customers] ([customer_id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([staff_id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([table_id])
REFERENCES [dbo].[Tables] ([table_id])
GO
ALTER TABLE [dbo].[StaffShifts]  WITH CHECK ADD FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([staff_id])
GO
ALTER TABLE [dbo].[MenuItems]  WITH CHECK ADD CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[Tables]  WITH CHECK ADD CHECK  (([status]='Reserved' OR [status]='Occupied' OR [status]='Available'))
GO
/****** Object:  StoredProcedure [dbo].[sp_GoiMon]    Script Date: 4/16/2026 7:13:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GoiMon]
    @MaDon INT,
    @MaMon INT,
    @SoLuong INT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @GiaHienTai DECIMAL(18,2);
    SELECT @GiaHienTai = price FROM MenuItems WHERE menu_id = @MaMon;

    IF @GiaHienTai IS NULL
    BEGIN
        PRINT N'Lỗi: Mã món ăn không tồn tại!';
        RETURN;
    END

    INSERT INTO OrderDetails (order_id, menu_id, quantity, price)
    VALUES (@MaDon, @MaMon, @SoLuong, @GiaHienTai);
    
    PRINT N'>>> Đã thêm món vào đơn hàng số ' + CAST(@MaDon AS VARCHAR);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_HuyDonHang]    Script Date: 4/16/2026 7:13:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_HuyDonHang]
    @MaDon INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Kiểm tra trạng thái
    IF EXISTS (SELECT 1 FROM Orders WHERE order_id = @MaDon AND is_paid = 1)
    BEGIN
        PRINT N'Lỗi: Đơn hàng đã thanh toán, không thể hủy!';
        RETURN;
    END

    -- Phải xóa theo thứ tự để không bị lỗi khóa ngoại (Foreign Key)
    DELETE FROM OrderDetails WHERE order_id = @MaDon;
    DELETE FROM Bills WHERE order_id = @MaDon;
    DELETE FROM Orders WHERE order_id = @MaDon;

    PRINT N'>>> Đã hủy toàn bộ đơn hàng số ' + CAST(@MaDon AS VARCHAR);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_HuyMon]    Script Date: 4/16/2026 7:13:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_HuyMon]
    @MaDon INT,
    @MaMon INT
AS
BEGIN
    SET NOCOUNT ON;
    -- Chỉ cho phép xóa khi đơn hàng chưa thanh toán
    IF EXISTS (SELECT 1 FROM Orders WHERE order_id = @MaDon AND is_paid = 1)
    BEGIN
        PRINT N'Lỗi: Đơn hàng đã thanh toán, không thể xóa món!';
        RETURN;
    END

    DELETE FROM OrderDetails WHERE order_id = @MaDon AND menu_id = @MaMon;
    PRINT N'>>> Đã xóa món ăn khỏi đơn hàng số ' + CAST(@MaDon AS VARCHAR);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_MoBanMoi]    Script Date: 4/16/2026 7:13:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_MoBanMoi]
    @MaBan INT,
    @MaNV INT,
    @MaKH INT = NULL 
AS
BEGIN
    SET NOCOUNT ON;
    -- KIỂM TRA: Nhân viên có phải là 'Phục vụ' không?
    IF NOT EXISTS (SELECT 1 FROM Staff WHERE staff_id = @MaNV AND role = N'Phục vụ')
    BEGIN
        PRINT N'Lỗi: Nhân viên mã ' + CAST(@MaNV AS VARCHAR) + N' không có nhiệm vụ Phục vụ bàn!';
        RETURN;
    END

    -- KIỂM TRA: Nếu bàn đang có khách (Occupied) thì không cho phép mở thêm đơn mới
    IF EXISTS (SELECT 1 FROM Tables WHERE table_id = @MaBan AND status = 'Occupied')
    BEGIN
        PRINT N'Lỗi: Bàn số ' + CAST(@MaBan AS VARCHAR) + N' hiện đang có khách. Vui lòng thanh toán hoặc chọn bàn khác!';
        RETURN;
    END

    -- Nếu bàn trống, tiến hành tạo đơn hàng mới
    INSERT INTO Orders (table_id, staff_id, customer_id, order_date, is_paid)
    VALUES (@MaBan, @MaNV, @MaKH, GETDATE(), 0);
    DECLARE @NewOrderId INT = SCOPE_IDENTITY();
    
    INSERT INTO Bills (order_id, total_amount, payment_method)
    VALUES (@NewOrderId, 0, N'Chưa thanh toán');
    
    PRINT N'>>> Đã mở bàn số ' + CAST(@MaBan AS VARCHAR) + N' thành công! MÃ ĐƠN MỚI LÀ: ' + CAST(@NewOrderId AS VARCHAR);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThanhToan]    Script Date: 4/16/2026 7:13:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ThanhToan]
    @MaDon INT,
    @PhuongThuc NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TongTien DECIMAL(18,2);
    SELECT @TongTien = ISNULL(SUM(quantity * price), 0) 
    FROM OrderDetails 
    WHERE order_id = @MaDon;

    -- Cập nhật trạng thái trả tiền
    UPDATE Orders 
    SET is_paid = 1 
    WHERE order_id = @MaDon;

    -- Cập nhật phương thức thanh toán, ngày giờ và chốt tổng tiền
    UPDATE Bills
    SET payment_method = @PhuongThuc,
        payment_date = GETDATE(),
        total_amount = @TongTien
    WHERE order_id = @MaDon;

    PRINT N'>>> Đã thanh toán xong đơn hàng số ' + CAST(@MaDon AS VARCHAR) + N'. Tổng tiền: ' + FORMAT(@TongTien, 'N0') + ' đ';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemKhachHang]    Script Date: 4/16/2026 7:13:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ThemKhachHang]
    @TenKH NVARCHAR(100), 
    @SDT VARCHAR(15)
AS
BEGIN
    INSERT INTO Customers (name, phone) VALUES (@TenKH, @SDT);
    PRINT N'>>> Đã thêm khách hàng: ' + @TenKH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemMonAn]    Script Date: 4/16/2026 7:13:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ThemMonAn]
    @TenMon NVARCHAR(100), @Gia DECIMAL(18,2), @Loai NVARCHAR(50)
AS
BEGIN
    IF @Gia < 0 BEGIN PRINT N'Lỗi: Giá không hợp lệ!'; RETURN; END
    INSERT INTO MenuItems (name, price, category) VALUES (@TenMon, @Gia, @Loai);
    PRINT N'>>> Đã thêm món: ' + @TenMon;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemNhanVien]    Script Date: 4/16/2026 7:13:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ThemNhanVien]
    @TenNV NVARCHAR(100), @ChucVu NVARCHAR(50), @SDT VARCHAR(15)
AS
BEGIN
    INSERT INTO Staff (name, role, phone) VALUES (@TenNV, @ChucVu, @SDT);
    PRINT N'>>> Đã thêm nhân viên: ' + @TenNV;
END;
GO
